<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Woops</title>
<style>
  body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
  }
  a {
    color: white;
  }
</style>
</head>
<body>
  <h1>Woops</h1>
  <p>You should read the documentation for this API. It can be found <a href='https://github.com/rgdan/cr-national-registry-api'>here</a>.</p>
</body>
</html>

